/* TODO: Style navigation bar with Flexbox */
/* TODO: Media query for vertical stacking on small screens */
/* TODO: Dark theme styles */
/* TODO: Highlight class for list items */

body {
  background-color: white;
  color: black;
}

.background-dark {
  background-color: black;
  color: white;

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 24px;
   
}

nav ul li a{
     text-decoration: none;
}

nav ul li a:hover{
     text-decoration:underline;
     color: cornflowerblue;
}

.toggle-theme {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-item-button{
    padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-theme-dark{
  background-color: white;
  color: black;  
}
.toggle-theme-light{
  background-color: black;
  color: white;  
}

@media (min-width: 600px) {
    nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 160px;
    list-style: none;
    
}

}